@font-face {
    font-family: 'HussarBold';
    src: url('Fonts/HussarBold.otf') format('opentype');
}

.textIni {
    position: relative;
    right: 15%;
    top: 225px;
    /*border: solid;
    background-color: whitesmoke;*/
    border-radius: 10px;
}

.text_info{
    font-family:Verdana;
    font-size:15px;
    color:darkblue;
}

.form_inicio {
    position: relative;
    left: 35%;
    /*border: solid;*/
    background-color: whitesmoke;
    border-radius: 10px;
}

.lbIng{
    font-family:HussarBold;
    font-size:20px;
}

.lbRegistrar {
   color:dimgray !important;
    font-size:15px;
}
