.box-shadow {
    -webkit-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
    -moz-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
    -o-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
    box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
}

.box-shadow2 {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -o-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.transition05 {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

html,
body {
    font-family: 'Open Sans', helvetica, calibri, arial;
    height: 100%;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}

a {
    color: white;
}

    a:hover {
        color: hsl(0, 0%, 67%);
    }

ul li {
    list-style: none;
}

.contenedor--div {
    padding: 0px !important;
    margin: 0px;
}

.contenedor--menu {
    background-color: #0f0f0f;
    z-index: 300;
    height: 100%;
    width: 210px;
    -webkit-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
    -moz-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
    -o-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
    box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
    overflow-y: auto;
    position: fixed;
}

.menu {
    font-size: 1.1em;
    z-index: 500;
    padding: 80px 10px 50px 10px;
}

    .menu li,
    .menu a {
        padding: 15px 5px;
        color: #606060;
        width: 200px;
    }

    .menu a {
        text-decoration: none;
    }

        .menu a:hover {
            color: hsl(0, 0%, 67%);
        }

    .menu li {
        border-bottom: 1px solid #606060;
        display: block;
    }

.submenu {
    padding-left: 15px;
    font-size: 0.9em;
}

    .submenu li,
    .submenu a {
        padding: 8px 5px;
    }

    .submenu li {
        border-bottom: 0px;
    }

.icono--div {
    z-index: 600;
    padding: 5px;
    position: fixed;
}

.icono {
    position: absolute;
    z-index: 1000;
    display: inline-block;
}

    .icono a {
        padding: 10px 15px;
        background-color: transparent;
        display: inline-block;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        .icono a:hover {
            background-color:black;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

#imaMenu {
    width: 29px;
}




.span__raya {
    display: block;
    height: 2px;
    padding: 2px;
    width: 15px;
    background-color: black;
    margin: 3px 0px;
}

.contenido__div {
    min-height: 720px;
    margin-bottom: 70px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -o-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    border-radius: 0 0 25px 25px;
}

    .contenido__div p {
        padding: 10px 5px 30px 5px;
    }

    .contenido__div .contenido {
        min-height:720px;
        padding-top: 30px;
        max-width: 800px;
        padding-bottom: 30px;
    }

        .contenido__div .contenido .tag__usando,
        .contenido__div .contenido .tag {
            display: inline-block;
            padding: 5px;
            margin: 5px;
        }

        .contenido__div .contenido .tag {
            display: inline-block;
            background-color: #0f0f0f;
            color: white;
        }

        .contenido__div .contenido .contenido__info {
            display: block;
            padding: 30px 0px;
        }

.marca_submenu::before {
    content: -final de contenido;
}

h2{
    color:black;
    text-shadow: 2px 2px darkslategray;
}

/*Menu de imagenes de las paginas de salas*/
header {
    background-color:#ddd;
    width: 100%;
    border: solid 1px #06060642;
    height: 430px;
    margin: 40px auto;
    border-radius: 4px;
    overflow:hidden;
}

nav{
    height: 600px;
    width:100%;
    overflow: hidden;
    position:relative;
}

div.contenedor{
    margin: 30px 60px;
    width: 83%;
    height: 27%;
    overflow:hidden;
}

div.contenedores{
    position:relative;
    width: 30%;
    height: 90%;
    margin: 10px 10px;
    float: left;
    overflow: hidden;
    border-radius: 4px;
    
}

p.texto{
    background-color:white;
    padding: 14px;
    margin: -49px 0 0 0;
    border-radius: 2px;
    transition: margin 0.5s;
        -webkit-transition: margin 0.5s;
        -moz-transition: margin 0.5s;
        -o-transition: margin 0.5s;

}

a{
    text-decoration: none;
    color:black;
}

div.imagen1{
    background-image:url(../Imagenes/halloween.jpg);
    background-size:100%;
    width:100%;
    height:100%;
    border-radius: 4px;
}

div.imagen2{
    background-image:url('../Imagenes/mataromorir.jpg');
    background-size:100%;
    width:100%;
    height:100%;
}

div.imagen3{
    background-image:url(../Imagenes/venomm.png);
    background-size:100%;
    width:100%;
    height:100%;
}

div.imagen4{
    background-image:url('../Imagenes/el cascanueces.jpg');
    background-size:100%;
    width:100%;
    height:100%;
}

div.imagen5{
    background-image:url(../Imagenes/bohemian.jpg);
    background-size:100%;
    width:100%;
    height:100%;
}

div.imagen6{
    background-image:url('../Imagenes/no dormiras.jpg');
    background-size:100%;
    width:100%;
    height:100%;
}

div.contenedores:hover p.texto{
     margin:0px;
}

p.texto:hover{
    background-color:blue;
    color:white;
}

.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

    .mGrid .alt {
        background: #fcfcfc url(grd_alt.png) repeat-x top;
    }

    .mGrid .pgr {
        background: #424242 url(grd_pgr.png) repeat-x top;
    }

        .mGrid .pgr table {
            margin: 5px 0;
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }