
@font-face {
    font-family: 'HussarBold';
    src: url('Fonts/HussarBold.otf') format('opentype');
}

body {
}


.lbReg {
    font-family: HussarBold;
    font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}